h1{
  color: #800000;
  background-color: black;
}
h3{
  color: yellow;
}
div{
 border: 4mm ridge rgba(170, 50, 220, .6);
}

body{
    background-color: red;
    border-radius: 30%;
}
p{
  color: yellow;

}
